#root {
    margin: 0 auto;
    text-align: center;
}

.movieList {
    width: calc(100vw - 1em);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: auto;
    gap: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0;
}

.movieList li {
    flex-direction: row;
    list-style: none;
    align-items: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    margin-top: 2em;
    margin-bottom: 2em;
}

.movieList::after {
    content: '';
    padding: 0.1px;
    margin: auto;
}
.movieList::before {
    content: '';
    margin: auto;
}

.movieList li .movieCard {
    min-width: 20em;
}
.movieList li .movieCard #overlay {
    display: none;
}
.movieList li .image {
    width: 100%;
}
.movieList li .poster {
    width: 20em;
    height: 30em;
}

.movieList .selected ~ #overlay {
    display: block;
}
.movieList .selected .movieCard #overlay {
    display: block;
}
.movieList .selected .xBtn {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 9;
    cursor: pointer;
}

#overlay{
    background: rgba(0,0,0,0.9);
    position: fixed;
    inset: 0;
    z-index: 7;
    display: none;
}
.movieList .selected {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: var(--darker-color);
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    flex-wrap: wrap;
}

.movieList .selected .image {
    width: 45%;
}
.movieList .selected .poster {
    width: 100%;
    height: auto;
}

.homeWarning {
    background-color: #bb0000;
    align-content: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.welcome {
    display: none;
}

@media (min-width: 768px) {
    .homeWarning {
        display: none;
    }
    .movieList .selected .movieCard #overlay {
        display: none;
    }
    .welcome {
        display: block;
    }
    .movieList li:hover {
        scale:110%;
    }
    .movieList .selected:hover {
        scale: 100%;
    }
    .movieList .selected {
        padding: 3em;
    }
}
