#root {
  margin: 0 auto;
  text-align: center;
}

.movieList {
  width: calc(100vw - 1em);
  display: flex;
  flex-direction: row;
  float: top-right;
  margin-left: auto;
  margin-bottom: auto;
  gap: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow-x: auto;
}

.movieList li {
  flex-direction: row;
  text-align: left;
  list-style: none;
  padding: 1em;
  background-color: var(--lighter-color);
  border: 1px solid var(--hover-color);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  margin-bottom: 1em;
}

.movieList::after {
  content: '';  /* Insert pseudo-element */
  padding: 0.1px;
  margin: auto; /* Make it push flex items to the center */
}

.movieList::before {
  content: '';  /* Insert pseudo-element */
  margin: auto; /* Make it push flex items to the center */
}
