.recContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
    padding: 0.5rem;
}

.card {
    padding: 3em;
    justify-content: center;
    align-content: center;
    background-color: var(--darker-color);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}