body {
    overflow: hidden
}

.theaterPage{
    display: flex;
    height: calc(100vh - 6.5em);
    width: 100vw;
}

.googleMap{
    width:70%;
    height: 100%;
}

.listing {
    width:25%;
    flex: 1;
    float: top-left;
    margin-bottom: auto;
    margin-right: auto;
}

.theaterList {
    height: calc(100vh - 12em);
    display: flex;
    flex-direction: column;
    float: top-right;
    margin-left: auto;
    margin-bottom: auto;
    gap: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-y: auto;
}

.theaterList li {
    flex-direction: row;
    text-align: left;
    list-style: none;
    padding: 1em;
    background-color: #444444;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.box .title {
    font-size: 1.5em;
    font-style: bold;
}
.box .address {
    font-style: italic;
}

.theaterList li:hover {
    background-color: #888888;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.results select {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

@media screen and (max-width: 60.4em) {
    .theaterPage {
        height: calc(100vh - 8.5em);
    }
    .theaterList {
        height: calc(100vh - 14em);
    }
}
@media screen and (max-width: 55em) {
    .theaterPage {
        height: calc(100vh - 11.8em);
    }
    .theaterList {
        height: calc(100vh - 17em);
    }
}
@media screen and (max-width: 44.72em) {
    .theaterList {
        height: calc(100vh - 18.5em);
    }
}
@media screen and (max-width: 30.62em) {
    .theaterList {
        height: calc(100vh - 20em);
    }
}
