.theaterPage{
    display: flex;
    height: calc(100vh - 4.625em);
    height: calc(100dvh - 4.625em);
    width: 100vw;
    width: 100dvw;
}

.googleMap{
    width: calc(100% - 2.5em);
    height: 100%;
    transition: width 0.25s ease-in-out;
}

.listing {
    flex: 1;
    float: top-left;
    margin-bottom: auto;
    margin-right: auto;
    position: fixed;
    width: 75%;
    right: 0;
    transform: translateX(calc(100% - 2.5em));
    background-color: var(--primary-color);
    transition: transform 0.25s cubic-bezier(1,0,0.6,1);
    overflow-y: hidden;
}

.listingExpanded {
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
}

.theaterList {
    height: calc(100vh - 9.25em);
    height: calc(100dvh - 9.25em);
    display: flex;
    flex-direction: column;
    float: top-right;
    margin-left: auto;
    margin-bottom: auto;
    gap: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-y: auto;
}

.box {
    flex-direction: row;
    text-align: left;
    list-style: none;
    padding: 1em;
    background-color: var(--lighter-color);
    border: 1px solid var(--hover-color);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.box .title {
    font-size: 1.5em;
    font-style: bold;
}
.box .address {
    font-style: italic;
}

.selected {
    border: var(--button-hover);
    background-color: var(--lightest-color);
}

.theaterSearch {
    display: flex;
    flex-direction: row;
    place-content: center;
    gap: 1em;
    width: 100%;
}

.theaterSearch select {
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 0;
}

.chevron {
    cursor: pointer;
    float: left;
    padding-left: 0.2em;
    font-size: 3em;
    margin-right: auto;
}

@media (min-width: 768px) {
    .theaterPage{
        height: calc(100vh - 6.5em);
        height: calc(100dvh - 6.5em);
    }
    .theaterList {
        height: calc(100vh - 12em);
        height: calc(100dvh - 12em);
    }
    .rText {
        display: flex;
    }
    .googleMap{
        width: 75%;
    }
    .listing {
        width: 25%;
        transform: translateX(calc(100% - 2.5em));
    }
    .mapExpanded {
        width: calc(100% - 2.5em);
    }
    .listingExpanded {
        transform: translateX(0);
    }
    .box:hover {
        background-color: var(--hover-color);
    }
}
