.theaterPage{
    display: flex;
    height: calc(100vh - 4.625em);
    height: calc(100dvh - 4.625em);
    width: 100vw;
    width: 100dvw;
}

.googleMap{
    width:70%;
    height: 100%;
}

.listing {
    width:25%;
    flex: 1;
    float: top-left;
    margin-bottom: auto;
    margin-right: auto;
}

.theaterList {
    height: calc(100vh - 9.25em);
    height: calc(100dvh - 9.25em);
    display: flex;
    flex-direction: column;
    float: top-right;
    margin-left: auto;
    margin-bottom: auto;
    gap: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    overflow-y: auto;
}

.theaterList li {
    flex-direction: row;
    text-align: left;
    list-style: none;
    padding: 1em;
    background-color: var(--lighter-color);
    border: 1px solid var(--hover-color);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.box .title {
    font-size: 1.5em;
    font-style: bold;
}
.box .address {
    font-style: italic;
}

.theaterList li:hover {
    background-color: #888888;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.results select {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

@media (min-width: 768px) {
    .theaterPage{
        height: calc(100vh - 6.5em);
        height: calc(100dvh - 6.5em);
    }
    .theaterList {
        height: calc(100vh - 11.1em);
        height: calc(100dvh - 11.1em);
    }
}
