:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --text-color: #e4e4e4;
  --primary-color: #242424;
  --darker-color: #1a1a1a;
  --lighter-color: #444444;
  --hover-color: #bebebe;
  --button-hover: #646cff;
  color: var(--text-color);
  background-color: var(--primary-color);
}

body {
  padding-top: 6.5em;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: calc(100vh - 6.5em);
  overflow: hidden
}
a{
  text-decoration: inherit;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --primary-color: #ffffff;
    --hover-color: #ddd;
    --button-color: #f9f9f9;
  }
}

@media screen and (max-width: 60.4em) {
  body {
    padding-top: 8.5em;
    min-height: calc(100vh - 8.5em);
  }
}
@media screen and (max-width: 55em) {
  body {
    padding-top: 11.8em;
    min-height: calc(100vh - 11.8em);
  }
}

show {
  display: block;
}
