:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --text-color: #e4e4e4;
  --primary-color: #242424;
  --darker-color: #1a1a1a;
  --lighter-color: #444444;
  --lightest-color: #8f8f8f;
  --hover-color: #bebebe;
  --button-hover: #646cff;
}
html{
  color: var(--text-color);
}
body {
  background-color: var(--primary-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-width: 100dvw;
  min-height: calc(100vh - 4.625em);
  min-height: calc(100dvh - 4.625em);
  overflow: hidden
}

a{
  text-decoration: inherit;
  color: var(--text-color);
}
a:hover {
  color: var(--button-hover);
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #000000;
    --primary-color: #dddddd;
    --darker-color: #ffffff;
    --lighter-color: #999999;
    --lightest-color: #555555;
    --hover-color: #bbbbbb;
    --button-hover: #646cff;
  }
}

show {
  display: block;
}
@media (min-width: 768px) {
  body {
    padding-top: 6.5em;
    padding-bottom: unset;
    min-height: calc(100vh - 6.5em);
    min-height: calc(100dvh - 6.5em);
  }
}
